@import url('bootstrap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Variable', sans-serif;
}

header{
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;

  img{
    padding: 1rem;
    width: 7rem;
  }
  
  nav{
    margin-top: 3rem;

    a{
      padding-right: 1.5rem;
      text-decoration: none;
      color: black;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 0.9rem;


    }
    
  }

  .select{
    color: rgb(26, 127, 229);
    /* border-bottom: 5px solid rgb(26, 127, 229); */
  }
}


main{
  background-color: black;
  color: white;
  min-height: 10rem;
  
      img{
        width: 100%;
        height: 310px;
        object-fit: cover;
        object-position: top;
      }

      .banner{
        background-color: rgb(26, 127, 229);
        width: 15rem;
        text-align: center;
        padding: 0.5rem;
        font-weight: 700;
        font-size: 1.2rem;
        position: absolute;
        translate: -50% -50%;
        top: 0;
        left: 15%;
      }

      .film{
        text-align: center;
        background-color: rgb(32, 32, 32);
        padding: 0rem 6rem;
        position: relative;

        .listFilm{

          img{
            width: 100%;
            height: 12rem;
          }
          
          .titoloFilm{
            font-size: 14px;
            text-transform: uppercase;
          }
        }
      }

      .bottone{
        background-color: rgb(26, 127, 229);
        border: none;
        color: white;
        font-weight: 600;
        padding: 0.5rem 3rem;
        margin: 3rem;
      }
  
}

footer{
  background-color: rgb(26, 127, 229);

  .buyBar{
    display: flex;
    justify-content: space-around;

    div{
      display: flex;
      padding: 2rem 1rem;
      align-items: center;
      

      img{
        width: 3rem;
        height: 3rem;
        object-fit: contain;
      }
      a{
        text-decoration: none;
        color: white;
        font-weight: 400;
        text-transform: uppercase;
        padding-left: 0.75rem;
        font-size: 0.9rem;

      }
    }
  }

  .linkSection{
    background-image: url('./assets/img/footer-bg.jpg');
    display: flex;

    div{
      display: flex;
      flex-direction: column;
      
      padding: 1rem;

      h3{
        color: white;
        font-size: 1.25rem;
      }
      a{
        color: rgb(207, 207, 210);
        text-decoration: none;
        font-size: 0.7rem;
      }
    }
  }

  .socialBar{
    background-color: rgb(51, 51, 51);
    display: flex;
    padding: 2rem;

    button{
      background-color: transparent;
      color: white;
      font-weight: 500;
      border: 3px solid rgb(26, 127, 229);

      div{
        padding: 0.5rem;
      }
    }

    .icon{
      display: flex;
      margin-left: auto;

      div{
        padding-right: 1rem;
        margin-top: 0.9rem;
        color: rgb(26, 127, 229);
        font-weight: 700;
      }
      a{
        padding: 0.5rem;
      }

    }
  }
}


